.navList {
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 8px;
  list-style: none;
  text-align: center;
}

  .navItem {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
  }
