.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.pullLeft {
  float: left;
}

.pullRight {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.peopleList {
  padding-right: 30px;
  list-style: none;
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  -webkit-column-width: 300px;
     -moz-column-width: 300px;
          column-width: 300px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
}

  .peopleItem {
    padding-bottom: 20px;
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                   break-inside: avoid;
  }

    .peopleContent {
      padding: 20px;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-color: grey;
    }
